body {
    background: url("../../flag2.jpg");
    background-size: 100%;
}

h5 {
  text-align: center;
}

.hide {
  visibility: hidden;
}

.borderless {
  border: 0px solid #000;
}

#question {
	width: 80%;
	margin: 0 auto;
    text-align: center;
    list-style-position: inside;
}

.answerLeft {
	text-align: left;
	margin-left: 25%;

}

table, th, td {
   border: 1px solid black;
   text-align: center;
   padding: 5px;
   margin: 0 auto;
   background-color: $light-red;
}

.backgroundBox {
	background-color: $light-gray;
	width: 70%;
	height: 50%;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 20px;
}