<h1>Memory of Freedom</h1>

<h3> Which questions do you want to study? </h1>

{{#if nNew }}
  <button id="newBucket" class="btn btn-secondary">New</button>
{{/if}}
{{#if nEasy }}
  <button id="easyBucket" class="btn btn-secondary">Easy</button>
{{/if}}
{{#if nHard }}
  <button id="hardBucket" class="btn btn-secondary">Hard</button>
{{/if}}
