<h1>Memory of Freedom</h1>

<h4 class="giveQuestionId" data-id={{id}}>{{title}}</h4>
<div id="showAnswerButton">
<button id="showAnswer" class="btn btn-grey showAnswerButton">Show me the answer!</button>
</div>

<div id="answer">
  <div class="answerLeft">
    {{#each answer}}
    <ul>
      <li>{{this}}</li>
    </ul>
    {{/each}}
  </div>

<!-- changes button to right/wrong instead of easy/hard -->
  <button id="right" class="btn btn-blue answerButton">right</button>
  <button id="wrong" class="btn btn-red answerButton">wrong</button>
  <button id="stop" class="btn btn-grey">stop</button>

</div>
