<h1>Memory of Freedom</h1>

<h4 class="giveQuestionId" data-id={{id}}>{{title}}</h4>
<div id="showAnswerButton">
<button id="showAnswer" class="btn btn-grey showAnswerButton">Show me the answer!</button>
</div>

<div id="answer">
  <div class="answerLeft">
    {{#each answer}}
    <ul>
      <li>{{this}}</li>
    </ul>
    {{/each}}
  </div>

  <button id="right" class="btn btn-blue answerButton">Easy</button>
  <button id="wrong" class="btn btn-red answerButton">Hard</button>
  <button id="stop" class="btn btn-grey">Stop</button>

{{!-- Notes --}}
{{!-- <div class="form-group">
    <label for="comment">Add notes to this question:</label>
    <textarea class="form-control" rows="5" id='note'></textarea>

    <button id="saveNote" type="submit" class="btn btn-secondary">
      <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>

    <button id="deleteNote" type="submit" class="btn btn-secondary">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
</div> --}}

</div>
