<h2> Which bucket do you want to study? </h2>
<h3> Choose between easy, medium and hard </h3>


<div><button id="easy" type="button" class="btn btn-default .btn-lg">Easy</button></div>
<div><button id="medium" type="button" class="btn btn-default .btn-lg">Medium</button></div>
<div><button id="hard" type="button" class="btn btn-default .btn-lg">Hard</button></div>

<table style="width:100%">
  <tr>
    <th>Easy</th>
    <th>Medium</th>
    <th>Hard</th>
  </tr>
  <tr>
    <td>50</td>
    <td>5</td>
  </tr>
</table>
