<h1>Memory of Freedom</h1>

<h4 class="giveQuestionId" data-id={{id}}>{{title}}</h4>
<div id="showAnswerButton">
<button id="showAnswer" class="btn btn-info showAnswerButton">Show me the answer!</button>
</div>

<div id="answer">
  {{#each answer}}
  <ul>
    <li>{{this}}</li>
  </ul>
  {{/each}}

  <button id="right" class="btn btn-info answerButton">Got it right!</button>
  <button id="wrong" class="btn btn-info answerButton">Got it wrong</button>
  <button id="stop" class="btn btn-info">Stop studying</button>

<div class="form-group">
    <label for="comment">Add notes to this question:</label>
    <textarea class="form-control" rows="5" id='note'></textarea>

    <button id="saveNote" type="submit" class="btn btn-secondary">
      <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>

    <button id="deleteNote" type="submit" class="btn btn-secondary">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
</div>

  <button id="test" class="btn btn-info">test button to get joint table id</button>

</div>
