
<!-- <h4>{{questions.[0].title}}</h4>
<ul>
  <li>{{questions.[0].answer}}</li>
</ul> -->

<h4>{{title}}</h4>
{{#each answer}}
<ul>
  <li>{{this}}</li>
</ul>
{{/each}}

<button id="right" class="btn btn-info">Got it right!</button>
<button id="wrong" class="btn btn-info">Next time</button>


<h5> Your Knowlege Bucktes </h5>

<table style="width:100%">
  <tr>
    <th>Easy</th>
    <th>Medium</th>
    <th>Hard</th>
  </tr>
  <tr>
    <td>45</td>
    <td>50</td>
    <td>5</td>
  </tr>

</table>
