<h5> Your Knowlege Bucktes </h5>

<table style="width:100%">
  <tr>
    <th>New</th>
    <th>Easy/right</th>
    <!-- <th>Medium</th> -->
    <th>Hard/wrong</th>
  </tr>
  <tr>
    <td>{{nNew}}</td>
    <td>{{nEasy}}</td>
    <!-- <td>{{medium}}</td> -->
    <td>{{nHard}}</td>
  </tr>
</table>
