<h5> Your Knowlege Bucktes </h5>

<table style="width:100%">
  <tr>
    <th>Easy/right</th>
    <!-- <th>Medium</th> -->
    <th>Hard/wrong</th>
  </tr>
  <tr>
    <td>45</td>
    <!-- <td>50</td> -->
    <td>55</td>
  </tr>
</table>
