<h5> <b>Your Knowlege Bucktes </b></h5>

<table style="width:25%">
  <tr>
    <th>New</th>
    <th>Easy</th>
    <th>Hard</th>
  </tr>
  <tr>
    <td>{{nNew}}</td>
    <td>{{nEasy}}</td>
    <td>{{nHard}}</td>
  </tr>
</table>
