<h5> Your Knowlege Bucktes </h5>

<table style="width:100%">
  <tr>
    <th>Easy/right</th>
    <!-- <th>Medium</th> -->
    <th>Hard/wrong</th>
  </tr>
  <tr>
    <td>{{easy}}</td>
    <!-- <td>{{medium}}</td> -->
    <td>{{hard}}</td>
  </tr>
</table>
